@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('styles/header.css');
@import url('styles/sidebar.css');
@import url('styles/main_content.css');

body {
    font-family: 'Roboto';
}

:root {
    --used-gray: #e5e5e5;
    --used-blue: #38bdf8;
}

.main_container {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 180px 1fr;
}